{% load static %}

<!DOCTYPE html>
<html lang='en-US'>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link href="{% static "css/styles.css" %}" rel="stylesheet">
	</head>

	<body>
		<div id="nav">
			<ul>
				<li><a href="{% url "staff:index" %}">Home</a></li>
				<li><a href="{% url "staff:agent_list" %}">Call Agents</a></li>
				<li><a href="{% url "staff:management_list" %}">Management</a>
					<ul>
					<li><a href="#">&raquo;Center Manager</a>
					<li><a href="#">&raquo;Supervisory</a>
					<li><a href="#">&raquo;Technical</a>
					</ul>
				</li>
				<li><a href="{% url "staff:other_list" %}">Other staff</a></li>
			</ul>
		</div>

		<div id="content" style='float:left; width:50%; margin-left:5%; margin-right:10%'>
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>
