{% extends 'staff/base.html' %}

{% block title %}Home - Uyo ECC{% endblock %}

{% block content %}

	<h3>Welcome to the Emergency Communication Center (ECC), Uyo!</h3>
	<p>The team is always on ground day and night to receive and despatch
		all emergency calls for the purpose of saving lives. 
		It's like a soldiers job, so, we're battle-ready at all times!

	<h2 style="margin-top:5%">Mission</h2>
	<hr/>
	<p>Handling all calls appropriately with utmost attention, tact, and
		professionalism, ensuring that emergency/distress calls are
		despatched to enable the various response agencies quickly deal
		with the situation, while educating hoax callers and other members
		of the public on the purpose of the 112 emergency helpline in order
		to reduce, if not completely stop, its abuse.
	</p>

	<h2 style="margin-top:3%">History</h2>
	<hr/>
	<p>ECC Uyo is over 13 years old, being one of the first centers to be built
		in the south-south region...
{% endblock %}
