<!DOCTYPE html>
<html lang='en-US'>
	<head>
		<title>Generate Timetable</title>
		<script type="text/javascript">
			let morningShift = [];
			let afternoonShift = [];
                        let thursday = [];
			thursday.name = "Thu"
			let friday = [];
			friday.name = "Fri";
			let saturday = [];
			saturday.name = "Sat";
			let sunday = [];
			sunday.name = "Sun";

			function addName(form, div){
				let agent = form.names.value;
                        	let offDay = form.off_day.value;
				
				if (form == document.formA){
					morningShift.push(agent);
				} else {
					afternoonShift.push(agent);
				}
				
				let el = document.createElement("p");
                        	el.innerText = agent;
				div.appendChild(el);

				if (offDay == thursday.name){
					thursday.push(agent);
				} else if (offDay == friday.name){
					friday.push(agent);
				} else if (offDay == saturday.name){
					saturday.push(agent);
				} else if (offDay == sunday.name){
					sunday.push(agent);
				} else {
					document.body.append(
						"Please select off day.");
				}
			}
			function removeName(form, div){
				let agent = form.names.value;
				if (form == document.formA){
					morningShift.pop(agent);
				} else {
					afternoonShift.pop(agent);
				}
				thursday.pop(agent);
				friday.pop(agent);
				saturday.pop(agent);
				sunday.pop(agent);
				let el = document.getElementsByTagName("p");
				for (var i = 0; i < el.length; i++){
					if (el[i].innerText == agent){
						div.removeChild(el[i]);
					}
				}
			}
			function generateTimetable(morningShift, afternoonShift){
				let timetable = window.open(
					'', 'Timetable', 'toolbar=no,status=no');
				let weekday = ['MONDAY', 'TUESDAY', 'WEDNESDAY',
					'THURSDAY', 'FRIDAY', 'SATURDAY', 'SUNDAY']
				const tbl = document.createElement('table');
				const tblBody = document.createElement('tbody');
				const morning = document.createElement('tr');
				const afternoon = document.createElement('tr');
				const weekdayRow = document.createElement('tr');

                                const morningRow = document.createElement('tr');
                                const afternoonRow = document.createElement('tr');
				
				for (let i = 0; i < weekday.length; i++){
					let morningCell = document.createElement('td');
					let morningCellText = document.createTextNode('Morning Shift');
					morningCell.appendChild(morningCellText);
					morning.appendChild(morningCell);
					morningCell.style.color = 'blue';
				}
				for (let i = 0; i < weekday.length; i++){
					let afternoonCell = document.createElement('td');
					let afternoonCellText = document.createTextNode('Afternoon Shift');
					afternoonCell.appendChild(afternoonCellText);
					afternoon.appendChild(afternoonCell);
					afternoonCell.style.color = 'red';
				}
				for (let i = 0; i < weekday.length; i++){
					let weekdayCell = document.createElement('td');
					let weekdayCellText = document.createTextNode(weekday[i]);
					weekdayCell.appendChild(weekdayCellText);
					weekdayRow.appendChild(weekdayCell);
				}
				
				let morningNames = document.createElement('td');
				for (let i = 0; i < morningShift.length; i++){
					let morningCellText = document.createTextNode(morningShift[i]);
					let nextLine = document.createElement('p');
					morningNames.appendChild(morningCellText);
					morningNames.appendChild(nextLine);
				}

				let afternoonNames = document.createElement('td');
				for (let i = 0; i < afternoonShift.length; i++){
					let afternoonCellText = document.createTextNode(afternoonShift[i]);
					let nextLine = document.createElement('p');
					afternoonNames.appendChild(afternoonCellText);
					afternoonNames.appendChild(nextLine);
				}

				let morningCell1 = morningNames.cloneNode(true);
				let morningCell2 = afternoonNames.cloneNode(true);

				morningRow.appendChild(morningCell1);
				morningRow.appendChild(morningCell2);

				let afternoonCell1 = afternoonNames.cloneNode(true);
				let afternoonCell2 = morningNames.cloneNode(true);

				afternoonRow.appendChild(afternoonCell1);
				afternoonRow.appendChild(afternoonCell2);
					
				tblBody.appendChild(weekdayRow);
				tblBody.appendChild(morning);
				tblBody.appendChild(morningRow);
				tblBody.appendChild(afternoon);
				tblBody.appendChild(afternoonRow);

				tbl.appendChild(tblBody);
				tbl.setAttribute('border', '2');
				tbl.setAttribute('cellpadding', '5');
				tbl.setAttribute('width', '100%');
				timetable.document.body.appendChild(tbl);

			}
		</script>
	</head>
	<body>
		<h3>A simple page for generating timetables</h3>
		<hr/>
		<div id="morning" style="float:left; margin-left:3%">
			<form name="formA" method="POST" action="">
				<p>Morning shift names: {{ form1.names }}</p>
				<p>
				Select off day: {{ form1.off_day }}</p>
			</form>
			<button type="button" style="margin-left:60%"
				onclick="addName(document.formA, 
				document.getElementById('morning'));">ADD</button>
			<button type="button" style="margin-left:3%" 
					      onclick="removeName(document.formA,
					      document.getElementById('morning'));">
				REMOVE</button>

		</div>
		<div style="margin-left:10%; margin-top:5%; float:left">
			<button type="button" style="font-weight:bold" onclick=
				"generateTimetable(morningShift, afternoonShift);">
			Click here to generate the Timetable</button>
		</div>
		<div id="afternoon" style="float:right; margin-right:10%;">
                        <form name="formB" method="POST" action="">
                                <p>Afternoon shift names: {{ form2.names }}</p>
                                <p>Select off day: {{ form2.off_day }}</p>
                        </form>
                        <button type="button" style="margin-left:60%"
				onclick="addName(document.formB, 
				document.getElementById('afternoon'));">ADD</button>
                        <button type="button" style="margin-left:3%" 
					      onclick="removeName(document.formB, 
					      document.getElementById('afternoon'));">
                                REMOVE</button>

                </div>

	</body>
</html>
